*{
  margin: 0;
}
.App {
  text-align: center;
}
.quote {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quote-box {
  background-color: #fff;
  padding: 15px 30px;
  width: min(400px, 75%);
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgb(10, 8, 8);
}
.quote-box p {
  font-size: 20px;
  margin-bottom: 5px;
}
.author {
  text-align: end;
  font-size: 16px;
  margin-top: 5px;
}
.quote__btn {
  width: 40px;
  aspect-ratio: 1;
  border: none;
  border-radius: 50%;
  margin-top: 5px;
  color:#fff;
  box-shadow: 1px 1px 7px 0 #000a;
  cursor: pointer;
}
.quote__btn:active {
  box-shadow: 1px 1px 2px 0 #000a;
  width: 35px;
  aspect-ratio: 1;
  transition: width 200ms ease;
}
